/* первичный цвет текста  #757575*/
/* вторичный цвет текста #212121 */
/* цвета лого #000000; FFFFFF; #2196F3 */
/* цвет акцента #2196F3 */
/* белый #FFFFFF */
/* цвет фона #E5E5E5 */
/* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) */

/* body */

/* header */

/* logo */

/* main-nav */

/* header-nav */

/* navigation */

/* connect */

/* header-connection */

/* team */

.team {
  display: flex;
}

.guys {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

/* .team-member {
} */

.team-member__title {
  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 10px;
}

.team-member__text {
  color: var(--text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 16px;
}

/* hero */

.hero {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
}

.hero__title {
  color: #ffffff;

  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* .hero__button {
} */

/* .submit__button {
} */

.hero-overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/Img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* footer */

.footer {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;

  background: #2f303a;
}
.footer__logo {
  display: inline-block;

  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 156px;

  color: #ffffff;
}

.footer-link {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* qualities */

/* .qualities {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* skills */

.skills {
  display: flex;
}

.skills__item {
  width: calc((100% -90px) / 4);
  margin-right: 30px;
}

.skills__item:last-child {
  margin-right: 0;
}

.skills__item::before {
  display: block;
  content: " ";
  height: 120px;

  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/svg/SVG/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/svg/SVG/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/svg/SVG/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/svg/SVG/astronaut.svg);
}

.skills__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skills__text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* portfolio */

/* portfolio */

/* exemples */

.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples-thumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.examples-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;
  transform: translateY(100%);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.examples .item:nth-child(3n) {
  margin-right: 0;
}

.examples .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.examples-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0;
  margin-bottom: 4px;
}

.examples-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}

.examples .link:hover .examples-overlay,
.examples .link:focus .examples-overlay {
  opacity: 1;
  transform: translateY(0);
}

.examples .link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples .link:hover,
.examples .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* description */

.description {
  position: absolute;
  display: flex;

  width: 100%;
  height: 100%;
  margin: 0;

  padding: 63px 24px;

  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;
}

/* projects */

.projects {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/* work */

.working {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;
}

.work {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work .work-item:not(:last-child) {
  margin-right: 30px;
}

.work-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-item {
  position: relative;
}

.preview {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 7px;
  margin: 0;
  padding: 0;
  width: 370px;
  height: 70px;

  font-family: "Roboto";

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* address */

.place {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
  color: #ffffff;
}

.adds {
  margin: 0;
  padding: 0;
  font-style: inherit;
}
.tel {
  margin-top: 0;
  margin-bottom: 0;
}

.join {
  justify-content: center;
}

.join-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;

  color: #ffffff;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.join-icon {
  fill: #ffffff;
}

.bottom {
  display: flex;
  align-items: baseline;
}

.subscription {
  width: 570px;
  height: 86px;

  margin-left: 93px;
}

.subscription-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;

  color: #ffffff;
}

/* form-subscription */

.form-subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-field {
  position: relative;
}

.form-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin: 0;

  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: #ffffff;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  letter-spacing: 0.03em;

  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translate(-150%, -50%);
}

.sub__button {
  margin-left: 12px;
}

.icon-subscription {
  margin-left: 10px;
  fill: #ffffff;
}

/* clients */

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__title {
  font-family: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;

  color: #212121;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  margin-top: 0;
  margin-bottom: 0;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

/* modal */
