body {
    background-color: #ffffff;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}



.section__group {
    background-color: #f5f4fa;
}